<section id="footer">
    <div class="inner">
        <div class="row">



            <div class="col-8 col-12-medium">
                <h2 class="major">Get in touch</h2>
                <p>For more information about the workshop, please contact:</p>


                <ul class="contact">
                    <li class="icon solid fa-home">
                        Haute école d'ingénierie et d'architecture de Fribourg<br />
                        <a href="https://jacques.supcik.isc.heia-fr.ch/">Dr Jacques Supcik</a><br />
                        Bd de Pérolles 80<br />
                        CH-1700 Fribourg
                    </li>
                    <li class="icon solid fa-phone">+41 26 429 67 52</li>
                    <li class="icon solid fa-envelope"><a
                            href="mailto:jacques.supcik@hefr.ch">jacques.supcik@hefr.ch</a>
                    </li>
                </ul>
            </div>

            <div class="col-4 col-12-medium sponsor">
                <h2 class="major">Sponsors</h2>
                <a href="https://www.heia-fr.ch/" class="image"><img src="images/logo_heiafr_short_white.svg"
                        alt="HEIA-FR" /></a>
                <a href="http://isis.heia-fr.ch/" class="image"><img src="images/ISIS_blanc.svg" alt="HEIA-FR" /></a>

            </div>
        </div>

        <ul class="copyright">
            <li>&copy; {{ now.Year }} HEIA-FR. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>